.carritovacio{
    text-align: center;
    font-size:200%;
}

.cart{
    text-align: center;
    justify-content: center;
}
.final{
    text-align: center;
}
.totalprice{
    font-weight: bold;
    font-size: large;
}

.gen-btn{
    text-align: center;
}