.itemCart{
    display: flex;
    padding-top:2rem;
    max-width: 400px;
}

.itemcart-img{
    height: 150px;
    width: 100px;

}

.itemcart-btn{
    width: 80%;
}

.itemcart-text{
    padding-left: 1rem;
    width: 200px;
}