

button{
    width: 100%;
    height: 40px;
    border-radius: 1rem;
    color:white;
    background-color:red;
    width: fit-content;
    font-size: 1rem;
}
.detail-text{
    padding-left:2rem;
}
.detail-descrip{
    padding-bottom: 1rem;
}
.min-btn{
    width: 20%;
}
.add-btn{
    width: 20%;
}
.addcart-btn{
    width: 70%;
}
button:hover{
    cursor: pointer;
}